[user]
    name = batkiz
    email = batkiz@outlook.com
[difftool "sourcetree"]
    cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = "'' "
    trustExitCode = true
[merge]
    tool = kdiff3
[diff]
    guitool = kdiff3
[http]
    proxy = http://127.0.0.1:43333
[https]
    proxy = http://127.0.0.1:43333
[core]
    autocrlf = true
[pull]
    rebase = false
[fetch]
    prune = false
[rebase]
    autoStash = false
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[credential]
    helper = manager
[credential "helperselector"]
    selected = manager
[alias]
    aliases = config --get-regexp alias
    last = log -1 HEAD
    amend = commit --amend --reuse-message=HEAD
    update = fetch --all --prune
    purge = !bash -c \"git branch -r | awk '{print \\$1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print \\$1}' | xargs -r git branch -D\"
    graph = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'
    uncommit = reset --soft HEAD~1
    unstage = reset HEAD --
    stat = diff --stat
[help]
    autocorrect = 1
